# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/database.yml
.env
.log


/public/packs
/public/packs-test
/public/uploads

/node_modules
yarn-error.log
package.json